# dependencies
node_modules/
server/node_modules/
client/node_modules/
frontend/node_modules/
# environment variables
.env
server/.env
client/.env

# build output
client/dist/
client/build/

# logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

my-practice-frontend/
frontend/.git-nested-DO-NOT-USE/